<form class="form login-form col-sm-6 text-right mt-5">
  <div class="form-group">
    <label for="email-login">Email</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">log-In</button>
  </div>
</form>

<script src="/js/login.js"></script>