<form class="form signup-form col-sm-6 text-right mt-5">
  <div class="form-group text-white">
    <label for="email-login">Name</label>
    <input class="form-input" type="text" id="name-signup" />
  </div>
  <div class="form-group text-white">
    <label for="email-login">Email</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group text-white">
    <label for="password-login">Password</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

<script src="/js/signup.js"></script>